$color-primary: #2D2C2C;
$color-secondary: #EF5821;
$color-white: #fff;

.TextPrimary {
  color: $color-primary;
}

.TextSecondary {
  color: $color-secondary;
}

.TextWhite {
  color: $color-white;
}